
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div>
    <div id="information-text">
        <p>
            Pladespilleren is your online music store that brings you the hottest deals on a huge selection of vinyls.<br />
            Established in 2015, and already achieved a solid customer base, due to our low prices/fast deliveries.<br />
            Additionally, if you're looking for a specific record, you are more than welcome to contact us.<br />
            Shop now and enjoy superior service and selection as well as our fast shipping and low price guarantees.<br />
            If shopping on behalf of a company, we can upgrade your account, to accommondate VAT & free shipping.<br />
        </p>
        <img id="information-logo" src="/pictures/Information.png" />
    </div>
</div>

