
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<div>
    <div id="information-text">
        <div class="row">
            <p class="col-md-6">
                <span class="contact-header">Telephone & Fax</span><br />
                Toll Free Line: 555-555-5555<br />
                International Long Distance: (+45) 555-5555<br />
                Fax: (555) 555-5555
                <br /><br />
            </p>
            <p class="col-md-6">
                <span class="contact-header">Mailing Address</span><br />
                Pladespilleren<br />
                Fake Street 5<br />
                Esbjerg, Denmark
            </p>
        </div>

        <div class="row">
            <p class="col-md-6">
                <span class="contact-header">Email</span><br />
                Pladespilleren@fake.dk
                <br /><br />
            </p>
            <p class="col-md-6">
                <span class="contact-header">Office Hours</span><br />
                8:00am - 12:00am<br />
                7 days a week
            </p>
        </div>
        <img id="information-logo" src="/pictures/Information.png" />
    </div>
</div>
